<!-- FOOTER -->
<footer id="footer">

  <!-- FOOTER LINKS -->
  <div class="footer-links">
    &copy; 2022. By Ashley January. |
    <a href="https://twitter.com/AshleyJan">Twitter</a> |
    <a href="https://www.instagram.com/ashleyjanart/">Instagram</a> |
    <a href="https://linktr.ee/ashleyjanart" style="transform: translate(3%)"><img src="//res.cloudinary.com/brightplum/image/upload/v1654191629/ashleyjan/linktree.png" style="height: 1%; width: 1%; transform: translate(-2%)" alt="">Linktree</a>
  </div>

</footer>
<!-- /FOOTER -->
