<head>
  <meta charset="utf-8">
  <title>{% if page.site_title %}{{ page.site_title | escape }}{% elsif page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="The portfolio of artist Ashley Jan">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Disable Telephone Interpretation -->
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no" />
  <!-- plugins' css -->
  <link rel="stylesheet" type="text/css" href="/css/plugins.css">
  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Oswald:400,700,300%7cPoppins:400,300,500,700,600" rel="stylesheet" type="text/css">
  <!-- main css file -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- mobile css file -->
  <link rel="stylesheet" type="text/css" href="/css/mobile.css">
  <!-- modernizr -->
  <script src="/js/lib/modernizr-2.6.2.min.js"></script>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9PMT3LCBB4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9PMT3LCBB4');
</script>

