<!-- HEADER -->
<header id="header" class="has-border">
  <!-- LOGO -->
  <a href="{{ site.baseurl }}" class="logo">
    AshleyJan
  </a>
  <!-- MOBILE MENU ICON -->
  <a href="#" class="mob-menu"><i class="fa fa-bars"></i></a>
  <!-- MENU -->
  <nav>
    <ul class="main-menu">
      {% assign sorted_pages = site.data.menu | sort:"order" %}
      {% for my_page in sorted_pages %}
      {% if my_page.title %}
      <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
<!-- /HEADER -->
