---
layout: default
---

<!-- CONTENT -->
<div class="container fullwidth no-padding">

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1624571091/ashleyjan/2020/Quinn_and_Ashley_.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">About</h3>
                    <p class="separator-left mb20"></p>
                    <p>{{ content }}</p>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- /CONTENT -->

