---
layout: default
---

<!-- CONTENT -->
<div class="container fullwidth no-padding">

    <div class="row" style="margin-top: 3%;">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-3" style="right: -3%">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1624571091/ashleyjan/2020/Quinn_and_Ashley_.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-5" style="width: 45%; ">
            <h3 class="title mt0">About</h3>
            <p class="separator-left mb20"></p>
            <p style="display: table; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{ content }}</p>
        </div>

    </div>

</div>

<!-- /CONTENT -->

