<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {% include head.html %}

  <body>
    <!-- https://stackoverflow.com/a/57888310/15419509 -->
    <script>0</script>

    {% include header.html %}

    <!-- MAIN_WRAPPER -->
    <div class="main-wrapper animsition">
      {{ content }}
      {% include footer.html %}
    </div>

    <!-- js -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/scripts.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>

  </body>

</html>
