<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- MAIN_WRAPPER -->
    <div class="main-wrapper animsition">
      {{ content }}
      {% include footer.html %}
    </div>

    <!-- js -->
    <script src="{{ "/js/lib/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lib/scripts.js" | prepend: site.baseurl }}"></script>
    <!-- main js -->
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
