---
layout: default
---

<!-- CONTENT -->
<div class="container fullwidth no-padding">

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1654189761/ashleyjan/Beverly_Review.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h5 class="title-tooltip">Article.</h5>
                    <h3 class="title mt0">The Beverly Review</h3>
                    <p class="separator-left mb20"></p>
                    <p>The Beverly Review featured my paintings  addressing preeclampsia awareness and how climate change negatively affects Black maternal health.</p>
                    <a href="https://www.beverlyreview.net/news/community_news/article_adf11094-c576-11ec-8cda-fbf50888bdce.html" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1654189761/ashleyjan/Artadia_Announcement.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h5 class="title-tooltip">Article.</h5>
                    <h3 class="title mt0">Artadia Announcement</h3>
                    <p class="separator-left mb20"></p>
                    <p>I was selected as one of the six finalists for the 2022 Chicago Artadia Awards.</p>
                    <a href=" https://artadia.org/news/2022-chicago-award-finalists-announced/" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1654189762/ashleyjan/WCA_Emerging_Artist_Award.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h5 class="title-tooltip">Article.</h5>
                    <h3 class="title mt0">WCA Emerging Artist Award</h3>
                    <p class="separator-left mb20"></p>
                    <p>I was selected as the WCA Emerging Artist Award Winner.</p>
                    <a href="https://nationalwca.org/awards/" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
          <img src="//res.cloudinary.com/brightplum/image/upload/v1640713872/ashleyjan/Pushing_Through_1.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                  <h5 class="title-tooltip">Article.</h5>
                  <h3 class="title mt0">Pushing Through</h3>
                  <p class="separator-left mb20"></p>
                  <p>During the summer of 2021, I participated in the online group exhibition, Pushing Through, via Dominique Gallery on Artsy.</p>
                  <a href="https://www.artsy.net/show/dominique-gallery-pushing-through?sort=partner_show_position&artist_ids%5B0%5D=ashley-january" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
          <img src="//res.cloudinary.com/brightplum/image/upload/v1640715923/ashleyjan/2020/Better_Magazine.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                  <h5 class="title-tooltip">Article.</h5>
                  <h3 class="title mt0">The Balm</h3>
                  <p class="separator-left mb20"></p>
                  <p>Better Magazine article feature</p>
                  <a href="https://better.net/chicago/arts-events/the-south-side-community-art-centers-newest-exhibition-explores-wellness-through-the-lens-of-black-womanhood/" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1624582068/ashleyjan/Black_Transcend_Adversity.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h5 class="title-tooltip">Article.</h5>
                    <h3 class="title mt0">Black Transcendence in Adversity</h3>
                    <p class="separator-left mb20"></p>
                    <p>I am addressing the growing crisis of the black maternal mortality rate in America through painting and multimedia. Pictorial narratives of familial and generational dynamism have informed the directional shift of the work.</p>
                    <a href="https://www.manacontemporary.com/artist-at-mana/black-transcendence-in-adversity/" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>


    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--Yk4u32vY--/c_scale,q_jpegmini,w_1200/v1520431023/ashleyjan/Woman_Made_Gallery_show.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h5 class="title-tooltip">Article.</h5>
                    <h3 class="title mt0">Woman Made Gallery, Midwest Open Juried Exhibition</h3>
                    <p class="separator-left mb20"></p>
                    <p>My work, Identity Fragmentation: A Self Portrait, was selected first place award winner of the Midwest Open exhibition. There were roughly 900 images submitted from all 12 Midwest states and 47 were chosen for the show.</p>
                    <a href="https://womanmade.org/artwork/ashley-gardner/" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--MyTBLE0p--/c_scale,q_jpegmini,w_1200/v1520431025/ashleyjan/The_Beverly_Review.jpg" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h5 class="title-tooltip">Article.</h5>
                    <h3 class="title mt0">The Beverly Art Center Competition</h3>
                    <p class="separator-left mb20"></p>
                    <p>There were over 150 applicants who submitted artwork to the show and roughly 27 were accepted. I won the Best of Show Award for $1500.</p>
                    <a href="http://www.beverlyreview.net/news/entertainment_news/article_f63bf7d6-c95b-11e7-b026-df3363d91a71.html" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--Bd6NVeE8--/c_crop,q_jpegmini,w_1200/v1503887025/ashleyjan/Urban_20Culture_20Tribe_20Feature.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h5 class="title-tooltip">Magazine.</h5>
                    <h3 class="title mt0">Friday Art Gathering at Bridgeport Art Center</h3>
                    <p class="separator-left mb20"></p>
                    <p>I was featured in a small online publication called Urban Culture Tribe.</p>
                    <a href="http://urbanculturetribe.com/2017/08/24/friday-art-gathering-at-bridgeport-art-center/" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--xAyOwpx6--/c_scale,g_north_west,q_jpegmini,w_1200/c_crop,g_north_west,h_900,w_1200/v1497221186/ashleyjan/Juxtapoz_20.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h5 class="title-tooltip">Magazine.</h5>
                    <h3 class="title mt0">LCAD Show</h3>
                    <p class="separator-left mb20"></p>
                    <p>My fellow Laguna College of Art & Design MFA graduates and myself were mentioned on the Juxtapoz Magazine website.</p>
                    <a href="https://www.juxtapoz.com/news/painting/explore-a-beautiful-selection-of-representational-art-at-lcad-s-mfa-shows/" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--GAnHMBnU--/c_scale,q_jpegmini,w_1200/c_crop,g_north_west,h_900,w_1200/v1497240301/ashleyjan/DiversionsLA1.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h5 class="title-tooltip">Article.</h5>
                    <h3 class="title mt0">Greater Los Angeles Master of Fine Art Show</h3>
                    <p class="separator-left mb20"></p>
                    <p>My painting was mentioned in the Greater Los Angeles Master of Fine Art show article.</p>
                    <a href="http://diversionsla.com/?p=5794" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

</div>
<!-- /CONTENT -->
