---
layout: default
---

<!-- CONTENT -->
<div class="container fullwidth no-padding">

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1699238473/ashleyjan/2023/apexart-press-release.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Apex Art, Fruits of Labor: Reframing Motherhood and Artmaking</h3>
                    <p class="separator-left mb20"></p>
                    <p>My painting, <strong><i>She was given agency in the process and survived</i></strong>, was featured as the cover image in the press release for Apex Art's group exhibition, <i>Fruits of Labor: Reframing Motherhood and Artmaking</i>, curated by Bruna Shapira.</p>
                    <a href="https://apexart.org/shapira.php" class="button mt10">website</a>
                    <a href="https://apexart.org/images/shapira/Shapira-PR.pdf" class="button mt10">press release</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1699237379/ashleyjan/2023/WGN_News_Feature_preview.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">WGN Daytime Chicago News Segment (10th Anniversary Beverly Art Walk)</h3>
                    <p class="separator-left mb20"></p>
                    <p>DayTime Chicago on WGN 9 features paintings from my new body of work for the culmination of the Tenth Annual Beverly Art Walk alongside founder and visionary, Sal Campbell.</p>
                    <a href="https://wgntv.com/daytime-chicago/the-10th-anniversary-beverly-art-walk/" class="button mt10">watch more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1674356027/ashleyjan/2023/Luxe_Mag_pg1.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Luxe Magazine</h3>
                    <p class="separator-left mb20"></p>
                    <p>Luxe Interiors + Design featured my works at my Chicago studio downtown. You can see the full article on pages 222 - 225.</p>
                    <a href="//res.cloudinary.com/brightplum/image/upload/v1674356027/ashleyjan/2023/Luxe_Mag_pg3.png" target="_blank" class="button mt20">preview</a>
                    <a href="https://issuu.com/luxemagazine/docs/ch_lx76_digital?fr=sZDQ4ZTIwMDgxMDI" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1674332656/ashleyjan/2023/AnOther_Magazine_feature.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">AnOther Magazine</h3>
                    <p class="separator-left mb20"></p>
                    <p>In the article, <i>The Contemporary Women Artists Reclaiming Motherhood</i>, the curator of London Art Fair: Platform Reframing the Muse, Ruth Millington, features my works and highlights other artists who are mothers. She eloquently writes about the struggle of being an artist mother, and helps to create awareness by emphasizing how I center the Black maternal mortality and morbidity crisis through my work.</p>
                    <a href="https://www.anothermag.com/art-photography/14623/the-contemporary-women-artists-reclaiming-motherhood" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1674355560/ashleyjan/2023/Regional-Media-News.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Regional Media News</h3>
                    <p class="separator-left mb20"></p>
                    <p>Western Illinois University solo show, <a href="/portfolio/human-mother-black">Human | Mother | Black</a> which runs January 17 - February 24, 2023</p>
                    <a href="https://regionalmedianews.com/ashley-january-exhibition-jan-17-feb-24-at-wiu-art-gallery/news/#.Y8iFL-LMJQI" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1674333922/ashleyjan/2023/CBS_News_Feature.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">CBS News Feature</h3>
                    <p class="separator-left mb20"></p>
                    <p>CBS News featured the Roseland Community Hospital Labor and Delivery Unit renovation project. Dr. West purchased giclée prints of my works for the maternity unit at her hospital for her patients.</p>
                    <a href="https://www.cbsnews.com/chicago/news/roseland-hospital-aims-to-improve-resources-for-expectant-mothers-newborns/?intcid=CNM-00-10abd1h" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1675012825/ashleyjan/2023/Artlyst_feature_1.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Artlyst</h3>
                    <p class="separator-left mb20"></p>
                    <p>The article highlights several artists featured at the London Art Fair. She writes about the title of the show "Reframing the Muse," and highlights my works showcased through Cynthia Corbett Gallery.</p>
                    <a href="https://artlyst.com/previews/reframing-the-muse-platform-london-art-fair-ruth-millington/" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1674332657/ashleyjan/2023/Ruth_Millington_Blog.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Ruth Millington Blog</h3>
                    <p class="separator-left mb20"></p>
                    <p>In the article, <i>11 important artists making contemporary art about motherhood</i>, Ruth Millington, highlights a spectrum of artists working in different media that also center motherhood in their works. She highlights my paintings that focus on bringing awareness to the Black maternal health crisis.</p>
                    <a href="https://ruthmillington.co.uk/11-important-artists-making-contemporary-art-about-motherhood/" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1674332657/ashleyjan/2023/Beverly_Review_website.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">The Beverly Review</h3>
                    <p class="separator-left mb20"></p>
                    <p>The Beverly Review featured my paintings  addressing preeclampsia awareness and how climate change negatively affects Black maternal health.</p>
                    <a href="https://www.beverlyreview.net/news/community_news/article_adf11094-c576-11ec-8cda-fbf50888bdce.html" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1654189761/ashleyjan/Artadia_Announcement.jpg">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Artadia Announcement</h3>
                    <p class="separator-left mb20"></p>
                    <p>I was selected as one of the six finalists for the 2022 Chicago Artadia Awards.</p>
                    <a href=" https://artadia.org/news/2022-chicago-award-finalists-announced/" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1654189762/ashleyjan/WCA_Emerging_Artist_Award.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">WCA Emerging Artist Award</h3>
                    <p class="separator-left mb20"></p>
                    <p>I was selected as the WCA Emerging Artist Award Winner.</p>
                    <a href="https://nationalwca.org/awards/" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
          <img src="//res.cloudinary.com/brightplum/image/upload/v1640713872/ashleyjan/Pushing_Through_1.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                  <h3 class="title mt0">Pushing Through</h3>
                  <p class="separator-left mb20"></p>
                  <p>During the summer of 2021, I participated in the online group exhibition, Pushing Through, via Dominique Gallery on Artsy.</p>
                  <a href="https://www.artsy.net/show/dominique-gallery-pushing-through?sort=partner_show_position&artist_ids%5B0%5D=ashley-january" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
          <img src="//res.cloudinary.com/brightplum/image/upload/v1674332656/ashleyjan/2023/Better_Magazine_article_screenshot.png">
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                  <h3 class="title mt0">Better Magazine</h3>
                  <p class="separator-left mb20"></p>
                  <p>Better Magazine article feature</p>
                  <a href="https://better.net/chicago/arts-events/the-south-side-community-art-centers-newest-exhibition-explores-wellness-through-the-lens-of-black-womanhood/" class="button mt10">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/v1624582068/ashleyjan/Black_Transcend_Adversity.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Black Transcendence in Adversity</h3>
                    <p class="separator-left mb20"></p>
                    <p>I am addressing the growing crisis of the black maternal mortality rate in America through painting and multimedia. Pictorial narratives of familial and generational dynamism have informed the directional shift of the work.</p>
                    <a href="https://www.manacontemporary.com/artist-at-mana/black-transcendence-in-adversity/" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>


    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--Yk4u32vY--/c_scale,q_jpegmini,w_1200/v1520431023/ashleyjan/Woman_Made_Gallery_show.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Woman Made Gallery, Midwest Open Juried Exhibition</h3>
                    <p class="separator-left mb20"></p>
                    <p>My work, Identity Fragmentation: A Self Portrait, was selected first place award winner of the Midwest Open exhibition. There were roughly 900 images submitted from all 12 Midwest states and 47 were chosen for the show.</p>
                    <a href="https://womanmade.org/artwork/ashley-gardner/" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--MyTBLE0p--/c_scale,q_jpegmini,w_1200/v1520431025/ashleyjan/The_Beverly_Review.jpg" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">The Beverly Art Center Competition</h3>
                    <p class="separator-left mb20"></p>
                    <p>There were over 150 applicants who submitted artwork to the show and roughly 27 were accepted. I won the Best of Show Award for $1500.</p>
                    <a href="http://www.beverlyreview.net/news/entertainment_news/article_f63bf7d6-c95b-11e7-b026-df3363d91a71.html" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--Bd6NVeE8--/c_crop,q_jpegmini,w_1200/v1503887025/ashleyjan/Urban_20Culture_20Tribe_20Feature.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Friday Art Gathering at Bridgeport Art Center</h3>
                    <p class="separator-left mb20"></p>
                    <p>I was featured in a small online publication called Urban Culture Tribe.</p>
                    <a href="http://urbanculturetribe.com/2017/08/24/friday-art-gathering-at-bridgeport-art-center/" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--xAyOwpx6--/c_scale,g_north_west,q_jpegmini,w_1200/c_crop,g_north_west,h_900,w_1200/v1497221186/ashleyjan/Juxtapoz_20.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">LCAD Show</h3>
                    <p class="separator-left mb20"></p>
                    <p>My fellow Laguna College of Art & Design MFA graduates and myself were mentioned on the Juxtapoz Magazine website.</p>
                    <a href="https://www.juxtapoz.com/news/painting/explore-a-beautiful-selection-of-representational-art-at-lcad-s-mfa-shows/" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

    <div class="row">
        <!-- IMAGE BACKGROUND -->
        <div class="col-md-6 col-sm-5">
            <img src="//res.cloudinary.com/brightplum/image/upload/s--GAnHMBnU--/c_scale,q_jpegmini,w_1200/c_crop,g_north_west,h_900,w_1200/v1497240301/ashleyjan/DiversionsLA1.png" />
        </div>

        <!-- DETAILS -->
        <div class="col-md-6 col-sm-7">
            <div class="vcenter-outer p70 pt130">

                <div class="vcenter-inner">
                    <h3 class="title mt0">Greater Los Angeles Master of Fine Art Show</h3>
                    <p class="separator-left mb20"></p>
                    <p>My painting was mentioned in the Greater Los Angeles Master of Fine Art show article.</p>
                    <a href="http://diversionsla.com/?p=5794" class="button mt10">read more</a>
                </div>

            </div>
        </div>
        <!-- /DETAILS -->
    </div>

</div>
<!-- /CONTENT -->
