---
layout: default
---

<!-- CONTENT -->
<div class="container fullwidth no-padding">

    <!-- IMAGE BACKGROUND -->
    <div class="col-md-6 col-sm-5 fullscreen-height" data-background="//res.cloudinary.com/brightplum/image/upload/s--xAyOwpx6--/c_scale,g_north_west,q_jpegmini,w_1200/c_crop,g_north_west,h_900,w_1200/v1497221186/ashleyjan/Juxtapoz_20.png"></div>

    <!-- DETAILS -->
    <div class="col-md-6 col-sm-7 col-md-offset-6 col-sm-offset-5 fullscreen-height">
        <div class="vcenter-outer p70 pt130">

            <div class="vcenter-inner">
                <h5 class="title-tooltip">Magazine.</h5>
                <h3 class="title mt0">LCAD Show</h3>
                <p class="separator-left mb20"></p>
                <p>My fellow Laguna College of Art & Design MFA graduates and myself were mentioned on the Juxtapoz Magazine website.</p>
                <a href="https://www.juxtapoz.com/news/painting/explore-a-beautiful-selection-of-representational-art-at-lcad-s-mfa-shows/" class="button mt10">read more</a>
            </div>

        </div>
    </div>
    <!-- /DETAILS -->

    <!-- IMAGE BACKGROUND -->
    <div class="col-md-6 col-sm-5 fullscreen-height" data-background="//res.cloudinary.com/brightplum/image/upload/s--GAnHMBnU--/c_scale,q_jpegmini,w_1200/c_crop,g_north_west,h_900,w_1200/v1497240301/ashleyjan/DiversionsLA1.png"></div>

    <!-- DETAILS -->
    <div class="col-md-6 col-sm-7 col-md-offset-6 col-sm-offset-5 fullscreen-height">
        <div class="vcenter-outer p70 pt130">

            <div class="vcenter-inner">
                <h5 class="title-tooltip">Article.</h5>
                <h3 class="title mt0">Greater Los Angeles Master of Fine Art Show</h3>
                <p class="separator-left mb20"></p>
                <p>My painting was mentioned in the Greater Los Angeles Master of Fine Art show article.</p>
                <a href="http://diversionsla.com/?p=5794" class="button mt10">read more</a>
            </div>

        </div>
    </div>
    <!-- /DETAILS -->

</div>
<!-- /CONTENT -->