---
layout: default
---

<!-- FILTER -->
<div class="categories">
  <ul>
    <li><a href="/portfolio/environments-of-a-heavy-joy">Environments of a Heavy Joy</a><li>
    <li><a href="/portfolio/human-mother-black">Human | Mother | Black</a></li>
    <li><a href="/portfolio/identity-ancestry">Identity and Ancestry: A Family Portrait</a></li>
    <li><a href="/portfolio/atelier">Atelier</a></li>
  </ul>
</div>
<!-- /FILTER -->

<!-- PORTFOLIO -->
<!-- For item sizes use classes .wide and .tall -->
<div class="container mt30">
  <div class="grid portfolio" data-gutter="5" data-columns="3">

    {% assign portfolio_items = site.data[page.file] | sort:"pinned" | sort:"order" %}
    {% for item in portfolio_items %}
    {% if item.title %}
    <div class="grid-item {{ item.style }} {{ item.class }}">
      <a href="{{ site.baseurl }}{{ item.url }}">
        <div class="img" data-background="{{ item.img_url }}"></div>
        <div class="hover">
          <div class="centered">
            <h5>{{ item.title }}</h5>
          </div>
        </div>

        {% if item.pinned %}
        <div class="pin">
          <img src="/assets/pin.svg" alt="" title="Pinned Art"/>
        </div>
        {% endif %}
      </a>
    </div>
    {% endif %}
    {% endfor %}

<!-- /PORTFOLIO -->
  </div>
</div>
