---
layout: default
---

<!-- FILTER -->
<div class="filter">
  <ul>
    <li data-filter="*" class="active">all</li>
    <li data-filter=".2021">2021</li>
    <li data-filter=".2020">2020</li>
    <li data-filter=".2019">2019</li>
    <li data-filter=".2018">2018</li>
    <li data-filter=".2017">2017</li>
    <li data-filter=".2016">2016</li>
    <li data-filter=".2015">2015</li>
    <li data-filter=".2014">2014</li>
    <li data-filter=".2013">2013</li>
  </ul>
</div>
<!-- /FILTER -->

<!-- PORTFOLIO -->
<!-- For item sizes use classes .wide and .tall -->
<div class="container mt30">
  <div class="grid portfolio" data-gutter="5" data-columns="3">

    {% assign portfolio_items = site.data.portfolio | sort:"order" %}
    {% for item in portfolio_items %}
    {% if item.title %}
    <div class="grid-item {{ item.style }} {{ item.class }}">
      <a href="{{ site.baseurl }}{{ item.url }}">
        <div class="img" data-background="{{ item.img_url }}"></div>
        <div class="hover">
          <div class="centered">
            <h5>{{ item.title }}</h5>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}

<!-- /PORTFOLIO -->
  </div>
</div>
