---
layout: default
---

<!-- SINGLE -->

<!-- PROJECT -->
<div class="container mt30">
    <div class="col-md-12">

        <!-- IMAGE CAROUSEL -->
        <div class="owl-slider">
            <img src="{{ page.slide1 }}" alt="">
            {% if page.slide2 %}<img src="{{ page.slide2 }}" alt="">{% endif %}
            {% if page.slide3 %}<img src="{{ page.slide3 }}" alt="">{% endif %}
        </div>
        <!-- /IMAGE CAROUSEL -->

        <div class="text-center p100 mb50">
            <h2 class="title">{{ page.title }}</h2>
            <p class="separator"></p>
            <p>{{ content }}</p>
            <p>{{page.year}}</p>
            <p>{{ page.dimension }}</p>
        </div>

    </div>
</div>
<!-- /PROJECT -->
