---
layout: default
---

<!-- SINGLE NO SLIDESHOW -->

<!-- PROJECT -->
<div class="container mt30">
    <div class="col-md-12 p60">

        <!-- IMAGE CAROUSEL -->
        <div class="text-center">
        <img src="{{ page.slide1 }}" alt="">
        </div>
        <!-- /IMAGE CAROUSEL -->

        <div class="p100 mb50">
            <h6 class="title">{{ page.title }}{% if page.year %}, {{ page.year }} {% endif %}</h6>
            <p>{{ content }}</p>
            <p>{{ page.dimension }}</p>
        </div>

    </div>
</div>
<!-- /PROJECT -->
